<div class="ms-depth-16 card">
    <div class="card-div">
        <h3 class="ms-fontSize-20 ms-fontWeight-regular">@EventDay.DateTime.ToString("D")</h3>
        @{
            if (EventDay.Events ==null || EventDay.Events.Count == 0)
            {
                <h3 class="ms-fontSize-15 ms-fontWeight-regular">No events in this day </h3>
            }
            else
            {
                @foreach (var item in EventDay.Events)
                {
                    string color = item.Color;
                    <div class="event shadow @color">
                        <h3 class="ms-fontSize-15 ms-fontWeight-regular">@item.startDate.ToString("HH:mm") to @item.endDate.ToString("HH:mm")</h3>
                        <p class="ms-fontSize-10 ms-fontWeight-regular">@item.title</p>
                        <p class="ms-fontSize-7 ms-fontWeight-regular">@item.description</p>
                        <p class="ms-fontSize-7 ms-fontWeight-regular">@item.location</p>
                    </div>
                } 
            }
        }
    </div>
</div>
@code {
    [Parameter]
    public Date EventDay { get; set; }
    
    private Event _event = new Event();

    protected override void OnInitialized()
        {
           AddEvent.OnEventAdded += ()=>{
               StateHasChanged();
           };
        }
}

      