@using OnlineCalendarSystem_Tier1.Data
@using OnlineCalendarSystem_Tier1.Login
@using OnlineCalendarSystem_Tier1.Models

<div class="ms-depth-16 card">
    <div class="card-div">
        <h3 class="ms-fontSize-20 ms-fontWeight-regular">@EventDay.ToString()</h3>
        @{
            if (events == null || events.Count == 0)
            {
                <h3 class="ms-fontSize-15 ms-fontWeight-regular">No events in this day </h3>
            }
            else
            {
                foreach (var item in events)
                {
                    string color = "blue";
                    <div class="event shadow @color">
                        <h3 class="ms-fontSize-15 ms-fontWeight-regular">@item.startDate.HourToString() to @item.endDate.HourToString()</h3>
                        <p class="ms-fontSize-10 ms-fontWeight-regular">@item.title</p>
                        <p class="ms-fontSize-7 ms-fontWeight-regular">@item.description</p>
                        <p class="ms-fontSize-7 ms-fontWeight-regular">@item.location</p>
                    </div>
                }
            }
        }
    </div>
</div>
@code {
    [Parameter]
    public Date EventDay { get; set; }
    private List<Event> events;

    public async void GetEvents() 
    { 
        events = new List<Event>();
        events = (List<Event>) await OnlineCalendarService.getEvents(UserService.GetUser().id); 
    }
}

